.climbing-images{
    display: flex;
    flex-direction: column;
}

.climbing-images img{
    width: 100%;
}

/* HIDE TWO OF THE THREE IMAGES ON MOBILE */
.climbing-images figure:first-child,
.climbing-images figure:last-child{
    display: none;
}

.embeded-youtube{
    width: 100%;
}
/* TABLET */
@media only screen and (min-width:481px){
    .climbing-images figure:first-child{
        display: block;
    }

    .climbing-images{
        flex-direction: row;
    }
}

/* DESKTOP */
@media only screen and (min-width:1024px){
    .climbing-images figure:last-child{
        display: block;
    }
}