/* CREATES THE SKILL LIST GRID */
.skill-list{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin-top:2rem;
}

.skill-list li{
    list-style:none;
    padding:0;
    width:70%;
    margin: 0 0 1.8rem 0;

}

.skill-list figure figcaption{
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-weight: bold;
    font-size: 1.2rem;
}

/* EASILY ALIGNS THE SKILL LOGOS AND TITLES */
.skill-list figure{
    display: flex;
    flex-direction: column;
    align-items: center;
}


/* HOVER ANIMATION FOR SKILL LIST ICONS */
.skill-list figure img{
    margin: 0;
    opacity:.5;
    transition: opacity .4s ease;
}
.skill-list li:hover img{
    opacity:1;
}

/* TABLET */
@media only screen and (min-width:481px){
    .skill-list{
        flex-direction: row;
        justify-content: space-around;
        align-items: flex-end;
    }
    .skill-list li{
        width:34%;
    }
}

/* DESKTOP */
@media only screen and (min-width:1024px){
    .skill-list {
        justify-content: space-between;
    }

    .skill-list li img{
        width:60%;
    }

    .skill-list li figcaption{
        text-align: left;
    }

    .skill-list li{
        width:26%;
    }
}